{
    "SNIPPY_PATH": "/home/mbonet/microbiologia/Programs/snippy/bin/snippy",
    "REFERENCE": "/home/mbonet/microbiologia/Reference4alignment/snippy/Pseudomonas_aeruginosa_PAO1_107.gbk",
    "SNIPPY_OPTIONS": [
        "--force"
    ],
    "POLYMORPHISMS": "/home/mbonet/microbiologia/Reference4alignment/snippy/GENES_POL_16102024.xlsx"
}