{
    "SNIPPY_PATH": "Path to program/Programs/snippy/bin/snippy",
    "REFERENCE": "Pseudomonas_aeruginosa_PAO1_107.gbk",
    "SNIPPY_OPTIONS": [
        "--force"
    ],
    "POLYMORPHISMS": "GENES_POL.xlsx"
}