{
    "BASE_PATH": "/home/micro/Analysis/assemblies/denovo_assemblies_SPAdes",
    "SPADES_PATH": "/home/micro/Programs/SPAdes-3.15.0/bin/spades.py",
    "ASSEMBLIES_PATH": "/home/micro/Analysis/assemblies/fastq-MiSeq",
    "SPADES_OPTIONS": ["--careful"],
    "OUTPUT_PATH": "/home/micro/Analysis/assemblies/denovo_assemblies_SPAdes"
}